<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>FoodXpress</title>
</head>
<body>
  <header class="header">
    <a href="#" class="logo">FoodXpress</a>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/menu">Menu</a>
        <a href="/contact">Contact</a>
    </nav>
  </header>

  <div class="message">
      <h1>Welcome to FoodXpress</h1><br>
      <p>Order your favorite food online and get it delivered to your doorstep.</p>
      <a href="/menu" class="btn">See Menu</a> 
  </div>

  <footer class="footer">
    <h2>Popular Food Items</h2>
    <ul>
      <li>
        <img src="images/friedchicken.png" alt="Food Item 1">
        Fried Chicken
      </li>
      <li>
        <img src="images/black-angus-burger.png" alt="Food Item 2">
        Black Angus Burger
      </li>
      <li>
        <img src="images/fishnchips.png" alt="Food Item 3">
        Fish 'N' Chips
      </li>
      <li>
        <img src="images/rotijohn.png" alt="Food Item 4">
        Roti John
      </li>
    </ul>
  </footer>
</body>

  

</body>
</html>
